<div>
  <button nz-button [nzType]="'primary'" (click)="showModal()">
    <span>显示对话框</span>
  </button>
  <nz-modal [nzVisible]="isVisible" [nzTitle]="'班级对应的宿舍分配信息'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
      <nz-table #nzTable [nzDataSource]="showModes" [nzIsPagination] ="false" [nzScroll]="{ x: 1920, y: 240 }">
        <ng-template #nzFixedHeader>
          <thead nz-thead>
          <tr>
            <!--<th nz-th [nzWidth]="'100px'"><span>班级code</span></th>-->
            <th nz-th [nzWidth]="'120px'"><span>班级名称</span></th>
            <th nz-th [nzWidth]="'420px'"><span>所分配的宿舍</span></th>
          </tr>
          </thead>
        </ng-template>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of showModes">
          <!--<td nz-td>{{data.classcode}}</td>-->
          <td nz-td>{{data.classname}}</td>
          <td nz-td>{{data.bednum}}</td>
        </tr>
        </tbody>
      </nz-table>
    </ng-template>
  </nz-modal>
</div>
